*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container 
{
    background-color:#0ad6f1 ;
     min-height:100vh;
     border:#990DF7 solid 13px;

}
.content
{
    max-width: 900px;
    margin: 0 auto;
}
.top_selection
{
    margin:100px ;
    display: flex;
    justify-content: space-between;
}
.top_selection h4
{
text-align: end;
}
.image_container
{
    border-radius:50% ;
    overflow: hidden;
}
.first
{
    font-size: 51px;
    text-transform: uppercase;
    color:#000790;
    font-weight: bold;

}
.about_section
{
    margin-top: 50px;
    text-align: justify;
    font-size: 29px;
}
.about_section p
{
font-size: 18px;
line-height: 30px;
letter-spacing: 2px;
}
.biography
{
    margin-top: 15px;

}
.biography h3
{
font-size: large;
margin-bottom: 18px;
}

.biography ul 
{
    margin-left: 50px;

}
.biography li 
{
    margin-bottom: 15px;
}
.footer
{
 margin: 150px 0;

}
footer p 
{
    text-align: end;
}